<div class="conatainer  d-flex bg-dark justify-content-center w-100">
<div class="cards bg-dark col-10 mt-3">
<%# <%= cl_image_tag("https://res.cloudinary.com/dpiiypeop/image/upload/c_thumb,w_200,g_face/v1614942832/khcw0cnrznginzjcgofe.jpg",
      width: 400, height: 300, crop: :fill) %>

<% @cocktails.each do |cocktail| %>
  <% if cocktail.photo.attached? %> 
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, crop: :fill %>')">
    <%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-ghost" %>
  </div>
  <% else %> 
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hhp-blog.s3.amazonaws.com/2018/08/iStock-611986658.jpg)">
    <%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-ghost" %>
  </div>
  <% end %>
  <% end %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hhp-blog.s3.amazonaws.com/2018/08/iStock-611986658.jpg)">
  <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
</div>


