



<h1><%= @cocktail.name %></h1>

<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

<div class="cards">
<% @cocktail.doses.each do |dose| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @article.photo.key, height: 300, crop: :fill %>')">
<%= dose.description %> |  <%=dose.ingredient.name %>
<div>
<%= link_to "Delete",  destroy_path(dose), method: :delete%>
</div>
  </div>
<% end %>
</div>
<%= link_to "Whats in this drink?",  new_cocktail_dose_path(@cocktail), class: "btn btn-sm btn-secondary mt-4" %>
<%= link_to "Back to drinks list",  cocktails_path, class: "btn btn-sm btn-secondary mt-4" %>

<%# https://source.unsplash.com/user/erondu/1600x900 %>

<%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>